<div class="card-container">
    <mat-card>
        <mat-card-header>
          <mat-card-title>Iniciar Sesión</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form class="form-custom" [formGroup]="formLogin">
                    <mat-form-field class="input-custom">
                      <mat-label>Email</mat-label>
                      <input matInput formControlName="email">
                    </mat-form-field>
                    
                    <mat-form-field class="input-custom">
                        <mat-label>Password</mat-label>
                        <input matInput formControlName="password" type="password">
                    </mat-form-field>
                    <div class="flex">
                        <button mat-flat-button color="primary" (click)="logIn()">Iniciar Sesión</button>
                        <button mat-flat-button color="warn" (click)="singUp()">Registarse</button>
                    </div>
            </form>
        </mat-card-content>
      </mat-card>
</div>
